.img_sass::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_sass:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_sass {
    transition: 0.5s;
}


.img_css::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_css:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_css {
    transition: 0.5s;
}

.img_img::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_img:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_img {
    transition: 0.5s;
}

.img_js::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_js:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_js {
    transition: 0.5s;
}

.img_php::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_php:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_php {
    transition: 0.5s;
}

.img_composer::before {
    background-image: url('../img/icones/visual-studio.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_composer:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_composer {
    transition: 0.5s;
}

.img_compo_lock::before {
    background-image: url('../img/icones/fichier_rempli.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_compo_lock:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_compo_lock {
    transition: 0.5s;
}

.img_index::before {
    background-image: url('../img/icones/visual-studio.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_index:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_index {
    transition: 0.5s;
}

.img_main::before {
    background-image: url('../img/icones/fichier_css.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_main:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_main {
    transition: 0.5s;
}

.img_main_css::before {
    background-image: url('../img/icones/fichier_css.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_main_css:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_main_css {
    transition: 0.5s;
}

.img_maquette::before {
    background-image: url('../img/icones/chromium_logo.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_maquette:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_maquette {
    transition: 0.5s;
}

.img_readme::before {
    background-image: url('../img/icones/readme.svg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_readme:hover {
    padding-left: 10px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}

.img_readme {
    transition: 0.5s;
}

.background_aside{
    .aside_style{
        overflow-y: scroll;
        z-index: 1;
        background-color: #3f3f3d;
        color: antiquewhite;
        margin-top: -20px;
        border-bottom-left-radius: 18px;
        border-right: solid;
        border-width: 1px;
        border-color: black;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.507);
        p.img_sass{
            display: none;
        }
    }


}
