<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container-fluid">
            <div class="container background_nav mt-5">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4 center_top text-center">
                        <a><img class="home" src="img/icones/home.svg" alt="" data-path="./" onmouseover="this.src='./img/icones/home_hover.svg'"
                                onmouseout="this.src='./img/icones/home.svg'" onmousedown="this.src='./img/icones/home_onclick.svg'"
                                onmouseup="this.src='./img/icones/home_hover.svg'"></a>
                        <a><img class="back" src="img/icones/arrow_back.svg" alt="" data-path="" onmouseover="this.src='./img/icones/arrow_back_hover.svg'"
                                onmouseout="this.src='./img/icones/arrow_back.svg'" onmousedown="this.src='./img/icones/arrow_back_onclick.svg'" onmouseup="this.src='./img/icones/arrow_back_hover.svg'"></a>
                        <a><img class="next" src="img/icones/arrow_after.svg" alt="" onmouseover="this.src='./img/icones/arrow_after_hover.svg'"
                                onmouseout="this.src='./img/icones/arrow_after.svg'" onmousedown="this.src='./img/icones/arrow_after_onclick.svg'" onmouseup="this.src='./img/icones/arrow_after_hover.svg'"></a>
                    </div>
                    <div class="d-flex justify-content-center col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 center_top">
                        <div class="div_path d-flex align-items-center pl-2">

                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 center_top d-flex justify-content-center">
                    </div>
                </div>
                <div class="d-flex row background_aside">
                    <div class="col-md-5 col-lg-4 col-xl-4 aside_style pt-5 pb-5">
                        <div class=" w-50 mx-auto media_width_xs">
                            <p class="img_sass" onmouseover="style.backgroundColor='rgb(186, 186, 185)'" onmouseout="style.backgroundColor='transparent'"
                                onmousedown="style.backgroundColor='grey'" onmouseup="style.backgroundColor='rgb(186, 186, 185)'"
                                data-path=".sass-cache">.sass-cache</p>
                            <p class="img_css aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="css">css</p>
                            <p class="img_img aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="img">img</p>
                            <p class="img_js aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="js">js</p>
                            <p class="img_php aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="php">php</p>
                            <p class="img_composer aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="composer">composer</p>
                            <p class="img_compo_lock aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="composer.lock">composer.lock</p>
                            <p class="img_index aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="index">index</p>
                            <p class="img_main aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="main">main</p>
                            <p class="img_main_css aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="main.css.map">main.css.map</p>
                            <p class="img_maquette aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="maquette">maquette</p>
                            <p class="img_readme aside-elem" onmouseover="style.backgroundColor='rgb(186, 186, 185)'"
                                onmouseout="style.backgroundColor='transparent'" onmousedown="style.backgroundColor='grey'"
                                onmouseup="style.backgroundColor='rgb(186, 186, 185)'" data-path="README">README</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8 explo_style p-5 scrollbar">
                        <div id="grille" class="test d-flex flex-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="js/ajax.js"></script>
    
</body>

</html>